
*.meta
*.ide-wal
*.ide-shm
Ngeru Platformer/.vs/Ngeru Platformer/v15/.suo
Ngeru Platformer/.vs/Ngeru Platformer/DesignTimeBuild/.dtbcache
*.ide-wal
*.ide-shm
Ngeru Platformer/.vs/Ngeru Platformer/v15/.suo
Ngeru Platformer/.vs/Ngeru Platformer/DesignTimeBuild/.dtbcache
