[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/ 
[Bb}uilds/
Assets/AssetStoreTools*


*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.user

.DS_Store
*.swp
*_Trashes

*.pldb.meta
*.pdb.meta 

sysinfo.txt 

*.apk
*.unitypackage 
